.flicking-arrow-prev,
.flicking-arrow-next {
  position: absolute;
  top: 50%;
  width: 34px;
  height: 52px;
  cursor: pointer;
  transform: translateY(-50%);
}

.flicking-arrow-prev {
  left: 0;
}
.flicking-arrow-next {
  right: 0;
}

.flicking-arrow-prev::before,
.flicking-arrow-prev::after,
.flicking-arrow-next::before,
.flicking-arrow-next::after {
  content: "";
  width: 36px;
  height: 6px;
  position: absolute;
  background-color: black;
}
.flicking-arrow-prev::before {
  top: 50%;
  left: 5px;
  transform: rotate(-45deg);
  transform-origin: 0% 50%;
}
.flicking-arrow-prev::after {
  top: calc(50% - 4px);
  left: 5px;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
}
.flicking-arrow-next::before {
  top: 50%;
  right: 5px;
  transform: rotate(45deg);
  transform-origin: 100% 50%;
}
.flicking-arrow-next::after {
  top: calc(50% - 4px);
  right: 5px;
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
}

.flicking-arrow-disabled,
.flicking-arrow-disabled {
  cursor: default;
}

.flicking-arrow-disabled::before,
.flicking-arrow-disabled::after,
.flicking-arrow-disabled::before,
.flicking-arrow-disabled::after {
  background-color: grey;
}

.flicking-pagination {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.flicking-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: rgb(10 10 10 / 10%);
  cursor: pointer;
}

.flicking-pagination-bullet-active {
  background-color: #f2a65e;
}
