
.flick-container {
  width: 500px;
  height: 130px;
  margin: 0px auto;
  background: #eee;
  background: rgba(55, 55, 55 0.1);
  border-radius: 5px;
}
.flick-container .panel {
  padding: 5px 10px 5px 0px;
}
.flick-container .panel:after {
  content: "";
  position: relative;
  display: block;
  border-radius: 5px;
  width: 200px;
  background: #f55;
  height: 120px
}
.flick-container .panel:nth-child(5n + 1):after {
  background: #F47071;
}
.flick-container .panel:nth-child(5n + 2):after {
  background: #F69462;
}
.flick-container .panel:nth-child(5n + 3):after {
  background: #EDE484;
}
.flick-container .panel:nth-child(5n + 4):after {
  background: #90F290;
}
.flick-container .panel:nth-child(5n + 5):after {
  background: #78CAFF;
}
